<!--  Assignment 2 John Tran 301165631 October 2021 -->
<div class="">
    <h1 class="pageTitle"><%= title %></h1>
    
<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th class="col-1">#</th>
                    <th class="col-2">Name</th>
                    <th class="col-1">Phone</th>
                    <th class="col-2">Email</th>
                    <th class="col-1">Edit</th>
                </tr>
            </thead>
            <tbody>
                <% for(let count=0; count < contacts.length; count++) { %>
                    <tr>
                        <th scope="row"><%= count + 1 %></th>
                        <td><%= contacts[count].name %> </td>
                        <td><%= contacts[count].phone %></td>
                        <td><%= contacts[count].email %></td>
                        <td><button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-user-edit"></i><a href="/update/<%= contacts[count]._id %>"> Update</a></button>
                        <a href="/delete/<%= contacts[count]._id %>" class="btn btn-danger btn-sm"><i class="fas fa-user-slash"></i> Delete</a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
